<div class="modal fade" id="tarefaCreate" tabindex="-1" aria-labelledby="tarefaCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tarefaCreateLabel">Criar tarefa</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'tarefas_create' %}" method="post">
            {% csrf_token %}
            <input type="text" name="titulo" placeholder="Título da tarefa" required>
            <textarea name="descricao" rows="5" placeholder="Descreva sobre a tarefa..." required></textarea>
            <input class="criar-tarefa-btn" type="submit" value="Criar tarefa">
          </form>
        </div>
      </div>
    </div>
  </div>